* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-size: 80px;
}
header {
  background-color: azure;
}
p {
  text-align: center;
  font-size: 30px;
  padding: 15px;
}
hr {
  padding: 15px;
}
.pictures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 900px;
  background: transparent;
}